# Virtual Environment
.venv/
.env

# PyCharm specific settings
.idea/

# Python cache
__pycache__/

# Database connection
config/database.ini

# Data files
data/raw/
data/processed/
data/gcp_key/

# Dependencies lock
poetry.lock

#Other files
src/get_headers.py
src/get_total.py
src/network.py
src/fix_parquet.py
src/spot_error_column.py
etl/extract/product_crawler_backup.py
etl/extract/product_crawler_bak.py